<!DOCTYPE html>
<html>
 <head>
  <title>My First Application</title>
 </head>
    <body>
    <body style="background-color:powderblue;">

       <div style="background-color:black;color:white;padding:55px;">
          <h2>Staff Area</h2>
             <p>This application contains the names of the employees and their attributes like age,email,salary and departments etc.. .</p>
                <br> <p>It helps in finding the employees like the senior ones in the department and the highest paid employees etc..</p>
       </div><br>
<a href="http://localhost:3000/employees"; target="_blank">All Employees and Departments</a><br>
<a href="http://localhost:3000/sort_by_age"; target="_blank">All Employees by Age</a><br>
<a href="http://localhost:3000/sort_by_department"; target="_blank"> Employees order by Departments</a><br>
<a href="http://localhost:3000/sort_by_salary"> Employees order by salary</a><br>
 <a href="http://localhost:3000/retiredemp"> Retired Employees</a><br>
  <a href="http://localhost:3000/high_paid"> Highest Paid Employee</a><br>
  <a href="http://localhost:3000/top_5_salary"> Top 5 Paid Employees</a><br>
  <a href="http://localhost:3000/top_5_senior_by_age"> Top 5 senior Employees by department</a><br>
  <a href="http://localhost:3000/low_salary_senior_company"> Lowest salary but senior most in department</a><br>
                       <h1>Senior staff</h1>
<img src="http://www.ycda.com/img/basket/20150521_072728.jpg" alt="Senior staff" style="width:304px;height:228px;">
     </body>
</html>